body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #16181D;
  }
  
  .game {
    width: 100vw;
    height: 100vw;
    margin: 0 auto;
    background-color: #16181D;
    color: #fff;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr)
  }
  
  .game>div {
    border-bottom: 6px solid #ddeeff;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    border: 5px solid #2c3e50;
    background-color: #16181D;
    color: white;
    margin-top: 10px;
    padding: 10px 20px
  }
  
  .game > div.winner {
    background: yellow;
  }
  
  .game > div.winner > span {
    color: blue;
  }
  
  @media (min-width: 600px) {
    .game {
      width: 600px;
      height: 600px;
      border-radius: 10px;
      
    }
  
    .game>div {
      border-radius: 2px;
    }
  }
  
  @media (min-width: 1024px) {
    .btn {
      cursor: pointer
    }
  }
 



